.popularity {
  overflow: hidden;
  margin-top: 70px;
  padding: 0 120px;
  .title {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;      
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 21em;
    border-radius: 5px;
    padding: 8px;
    background: var(--main-bg);
    border: 1px solid var(--sub-border);
    .top {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .first,
      .second {
        width: calc((100% - 10px) / 2);
        height: 8em;
        border-radius: 5px;
        background: var(--sub-bg);
      }
      .profile {
        position: absolute;
        left: 50%;
        bottom: -24px;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        color: #fff;
        background: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;  
        border: 5px solid var(--main-bg);
      }
    }
    .bottom {
      margin-top: 26px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        color: var(--text-primary);
        margin-top: 6px;
        font-size: 16px;
      }
      .job {
        color: var(--text-secondary);
        margin-top: 6px;
      }
      .button {
        cursor: pointer;
        border: none;
        outline: none;
        width: 74px;
        height: 40px;
        color: var(--text-primary);
        border: 1px solid var(--sub-border);
        background: none;
        border-radius: 30px;
        margin-top: 20px;
        transition: all .35s;
        &:hover {
          color: var(--accent);
          border-color: var(--accent);
          transition: all .35s;
        }
      }
    }
  }
}

@media screen and (max-width: 1456px) {
  .popularity {
    padding-left: 48px;
    padding-right: 48px;
  }
}

// @media screen and (max-width: 1024px) {
//   .popularity {
//     padding-left: 48px;
//     padding-right: 48px;
//   }
// }

@media screen and (max-width: 768px) {
  .popularity {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (max-width: 586px) {
  .popularity {
    padding-left: 24px;
    padding-right: 24px;
    .card {
      .top {
        .first,
        .second {
          height: 6em;
        }
      }
    }
  }
}


