.item__slide {
  margin-top: 24px;
  white-space: nowrap;
  max-width: calc(920px - 80px);
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 16/9;
    > div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      justify-content: center;
    }
    img {
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }
}
