.item__slide {
  margin-top: 24px;
  white-space: nowrap;
  max-width: calc(920px - 80px);
  .card {
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--sub-bg);
    }
    .pc {
      width: 100%;
      height: 100%;
      img {
        object-fit: contain;
      }
    }
    .mobile {
      width: 140px;
      height: 100%;
      border-radius: 5px;
    }
  }
}
