.item__textbox {
  margin-top: 24px;
  .title {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--main-border);
  }
  .tags {
    margin-top: 14px;
    >span {
      color: var(--accent);
      margin-right: 6px;
    }
  }
  .text__content {
    color: var(--text-secondary);
    max-width: 540px;
    width: 100%;
    margin-top: 4px;
  }
  .day {
    margin-top: 14px;
    div {
      color: var(--text-primary);
    }
    span {
      color: var(--text-secondary);
    }
  }
}