.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .left {
    .title {
      color: var(--text-primary);
      font-size: 24px;   
    }
    .sub {
      color: var(--text-secondary);
      margin-top: 6px;
    }
  }
  .right {
    display: flex;
    gap: 6px;
    a {
      display: block;
      cursor: pointer;
      color: var(--main-bg);
      font-weight: 500;
      padding: 8px 14px;
      background: var(--accent);
      border-radius: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    .right {
      margin-top: 10px;
      display: inline-block;
    }
  }
}
