.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    gap: 24px;
    img {
      aspect-ratio: 1/1;
      max-width: 100px;
      border-radius: 5px;
    }
    .text {
      .title {
        color: var(--text-primary);
        font-size: 24px;   
      }
      .sub {
        color: var(--text-secondary);
        margin-top: 6px;
        a {
          color: var(--accent);
        }
      }
    }
  }
  .right {
    display: flex;
    gap: 6px;
    a {
      display: flex;
      cursor: pointer;
      color: var(--main-bg);
      font-weight: 500;
      padding: 10px 18px;
      background: var(--accent);
      border-radius: 30px;
      color: white;
      align-items: center;
      justify-content: center;

      &.deletes {
        background-color: #cc0000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    .left {
      img {
        width: 75px;
      }
      .text {
        .title {
          font-size: 18px;   
        }
        .sub {
          color: var(--text-secondary);
          margin-top: 6px;
          a {
            color: var(--accent);
          }
        }
      }
    }
    .right {
      display: block;
      width: 100%;
      margin-top: 10px;
      display: inline-block;
      a {
        margin-top: 14px;
        height: 60px;
        border-radius: 5px;
      }
    }
  }
}
