.item__back {
  cursor: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .7);
  z-index: 100;
}
.item__container {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 920px;
  width: 100%;
  height: calc(100% - 40px);
  background: var(--main-bg);
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  &::-webkit-scrollbar {
    display: none;
  }
  form {
    >input {
      display: none;
    }
    >div {
      margin-bottom: 24px;
    }
    .input__box {
      display: flex;
      flex-direction: column;
      gap: 6px;

      input {
        color: var(--text-primary);
        width: 100%;
        height: 50px;
        background: var(--sub-bg);
        outline: none;
        border: 1px solid var(--text-secondary);
        padding-left: 24px;
        border-radius: 5px; 
        &::placeholder {
          color: var(--text-secondary); //원래 순식간에 털리는거야
        }
      }

      label {
        color: var(--text-primary);
        font-size: 15px;
      }

      >p {
        color: var(--text-secondary);
        font-style: italic;
        font-size: 13px;
      }
    }
    .screenshot__box_top {
      padding: 15px;
      gap: 20px;
      min-height: 300px;
      overflow-x: scroll;
      background: var(--sub-bg);
      border: 2px dashed var(--text-secondary);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: start;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      &.single {
        justify-content: center;
      }
      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-secondary);
        >p {
          margin-bottom: 6px;
          >label {
            color: var(--accent);
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        >input {
          display: none;
        }
      }
      button {
        color: white;
        background-color: #cc0000;
        border: none;
        align-self: flex-start;
        transform: translate(-30px, 20px);
        min-width: 25px;
        cursor: pointer;
        aspect-ratio: 1 / 1;
        border-radius: 100px;
      }
      flex: 1;
      img {
        min-height: min-content;
        max-height: 200px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #22222233;
      }
    }
    .screenshot__box_bottom {
      display: flex;
      justify-content: center;
      gap: 20px;
      overflow-x: scroll;
      background: var(--sub-bg);
      border: 2px dashed var(--text-secondary);
      border-top: none;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-radius: 5px;
      align-items: center;
      >label {
        width: 100%;
        cursor: pointer;
        padding: 15px;
      }
      div {
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-secondary);
        >p {
          margin-bottom: 6px;
          >label {
            color: var(--accent);
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        >input {
          display: none;
        }
      }
    }
    .icon__box {
      padding: 15px;
      gap: 20px;
      flex-wrap: wrap;
      min-height: 300px;
      background: var(--sub-bg);
      border: 2px dashed var(--text-secondary);
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-secondary);
        >p {
          margin-bottom: 6px;
          >label {
            color: var(--accent);
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        >input {
          display: none;
        }
      }
      img {
        width: 100%;
        max-width: 220px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 30px;
        box-shadow: 0px 0px 5px #22222233;
      }
    }
    .file__box {
      height: 500px;
      padding: 0px 30px;
      background: var(--sub-bg);
      border: 2px dashed var(--text-secondary);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-secondary);
        >p {
          margin-bottom: 6px;
          >label {
            cursor: pointer;
            color: var(--accent);
            &:hover {
              text-decoration: underline;
            }
          }
        }
        >input {
          display: none;
        }
      }
      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #22222233;
      }
    }
    .scope__box {
      display: flex;
      flex-direction: column;
      color: var(--text-primary);
      gap: 12px;
    }

    .edit {
      display: flex;
      flex-direction: column;
      color: var(--text-primary);
      gap: 6px;
      textarea {
        color: var(--text-primary);
        width: 100%;
        height: 100px;
        padding: 24px;
        background: var(--sub-bg);
        outline: none;
        border: 1px solid var(--text-secondary);
        resize: vertical;
        border-radius: 5px;
        &::placeholder {
          color: var(--text-secondary);
        }
      }
    }
    .check__box {
      display: flex;
      color: var(--text-primary);
      user-select: none;
      gap: 6px;
      align-items: center;

      > input {
        background-color: var(--sub-bg);
        border: 1px var(--sub-border) solid;
        appearance: none;
        width: 22px;
        height: 22px;
        padding: 0;
        display: grid;
        place-content: center;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        
        &:focus {
          outline: none;
        }
        
        &:checked {
          background-color: #2a9cd4;
        }

        &::before {
          content: "";
          width: 0.65em;
          height: 0.65em;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em #fff;
          transform-origin: bottom left;
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        &:checked::before {
          transform: scale(1);
        }
      }

      >label {
        vertical-align: top;
        padding: 0;
        margin: 0;
      }
    }
    .whether {
      background-color: var(--sub-bg);
      border: 1px solid var(--sub-border);
      padding: 30px 40px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      border-radius: 5px;
      >div {
        margin-bottom: 24px;
      }
      button {
        background-color: #cc0000;
        border: none;
        color: white;
        border-radius: 5px;
        align-self: flex-start;
        padding: 10px 20px;
      }
    }
    .plus2__btn {
      color: var(--text-primary);
      height: 50px;
      border-radius: 5px;
      background: var(--main-bg);
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
    }
    .plus__btn {
      color: var(--text-primary);
      height: 50px;
      border-radius: 5px;
      background: var(--sub-bg);
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
    }
    .btn {
      display: flex;
      justify-content: flex-end;
      .upload__btn {
        color: var(--main-bg);
        font-weight: 500;
        padding: 14px 24px;
        border-radius: 50px;
        background: var(--accent);
        border: none;
      }
    }
  }
  .clear {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -24px;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: red;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      right: 0px;
      transform: rotate(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .item__back {
  }
  .item__container {
    top: 0;
    height: 100%;
    border-radius: 0;
  }
}

