.summary {
  background-color: var(--main-bg);
  border-radius: 5px;
  padding: 25px 40px;
  color: var(--text-primary);

  li {
    list-style: disc inside;
  }

  .right {
    display: flex;
    justify-content: end;
    gap: 5px;

    button {
      cursor: pointer;
      background-color: #2a9cd4;
      transition: all 0.1s ease-in;
      border: none;
      border-radius: 5px;
      padding: 15px;
      display: flex;
      justify-content: center;
      gap: 10px;
      
      &.loading {
        cursor: wait;
        background-color: #ececed;
        color: #000;
      }

      &:focus {
        outline: none;
      }

      &.secondary {
        background-color: #999;
      }
    }
  }
}
