.critical {
  background-color: var(--main-bg);
  color: var(--text-secondary);
  padding: 20px 45px;

  pre {
    background-color: red;
    color: white;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
}
