.slide {
  .parts {
    width: 100%;
    height: 40vw;
    background: var(--sub-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
      width: 100%;
      aspect-ratio: 16/9;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .slide {
    .parts {
      height: auto;
    }
  }
}
