.form {
  background-color: var(--main-bg);
  color: var(--text-secondary);
  padding: 20px 45px;
  
  .scopes {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .scope {
      h2 {
        font-size: 16px;
        margin-bottom: 3px;
      }
      
      p {
        background-color: var(--sub-bg);
        padding: 10px;
      }
    }
  }


  button {
    background-color: #2a9cd4;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
  }

  a {
    color: var(--text-secondary);
    background-color: var(--sub-bg);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
}
