.update {
  margin-top: 48px;
  padding: 0 120px;
  .title {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;      
  }
  .categorys {
    display: flex;
    margin-bottom: 14px;
    overflow-x: auto;
    > div {
      cursor: pointer;
      font-size: 1;
      font-weight: 500;
      white-space: nowrap;
      padding: 8px 14px;
      border-radius: 30px;
      margin-left: 11px;
    }
    >div:nth-child(1) {
      margin-left: 0;
    }
    .click {
      color: var(--accent);
      background: rgba($color: #2A9CD4, $alpha: .4);
    }
    .category {
      color: var(--text-secondary);
      background: var(--sub-bg);
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .card__box {
    display: grid;
    column-gap: 40px;
    row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    .card {
      position: relative;
      display: flex;
      height: 21em;
      border-radius: 5px;
      background: var(--main-bg);
      border: 1px solid var(--sub-border);
      margin-bottom: 30px;
      .main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        >div {
          border-radius: 5px;
          background: var(--sub-bg);
        }
        .pc {
          width: calc(100% - 40px);
          height: 14em;
        }
        .mobile {
          width: 140px;
          height: 240px;
        }
      }
      .sub {
        position: absolute;
        bottom: -30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profile {
          display: flex;
          align-items: center;
          .profile__img {
            color: #fff;
            font-size: 11px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: red;
            border-radius: 50%;
            border: 1px solid var(--text-secondary);
          }
          .profile__name {
            color: var(--text-primary);
            margin-left: 6px;
            font-weight: 500;
          }
        }
        .day {
          color: var(--text-secondary);
        }
      }
    }
  }
  .update__btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    a {
      color: var(--text-secondary);
      padding: 15px 86px;
      background: var(--sub-bg);
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 1456px) {
  .update {
    padding-left: 48px;
    padding-right: 48px;
    .card__box {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1023px) {
  .update {
    .card__box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  .update {
    padding-left: 74px;
    padding-right: 74px;
    .card__box {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 586px) {
  .update {
    padding-left: 24px;
    padding-right: 24px;
    .card__box {
      .card {
        .main {
          .pc {
            height: 13em;
          }
        }
      }
    }
    .update__btn {
      a {
        color: var(--text-secondary);
        width: 100%;
        padding: 15px 0;
        background: var(--sub-bg);
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}

